
.card-container {
display: flex;
justify-content: space-evenly;
position: relative;
align-self: center;
box-shadow: inset 0px 1px 10px -3px #000000;
padding:10px 3px;
}

.activeCard {
  flex-direction: column;
  left: 50%;
  box-shadow: 0px 1px 10px -3px #000000;
  align-self: flex-start;

}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 370px;
  width: 250px;
  object-fit: cover;
}

.arrowLeft {
	background-color:transparent;
	border-radius:27px;
	border:0px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#00a2ff;
	font-family:Arial;
	font-size:20px;
	padding:10px 3px;
	text-decoration:none;
	text-shadow:0px 14px 0px #00a2ff;

  position: absolute;
  left: 0%;
  width: 10rem;
  height: 22rem;
}
.arrowLeft:hover {
	background-color:transparent;
  color:#9fcfff;
  text-shadow:0px 14px 0px #9fcfff;
}
.arrowLeft:active {
	position: absolute;
	top:1px;
}

.arrowRight {
	background-color:transparent;
	border-radius:27px;
	border:0px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#00a2ff;
	font-family:Arial;
	font-size:20px;
	padding:10px 3px;
	text-decoration:none;
	text-shadow:0px 14px 0px #00a2ff;

  position: absolute;
  right: 0%;
  width: 10rem;
  height: 22rem;
}
.arrowRight:hover {
	background-color:transparent;
  color:#9fcfff;
  text-shadow:0px 14px 0px #9fcfff;
}
.arrowRight:active {
	position: absolute;
	top:1px;
}