

.container {
  display: flex; /* or inline-flex */
  border-style: groove;
  border-width: 0px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
}

.container-card0 {
  flex-direction: column;
  border-width: 3px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(70, 248, 176);
}
.container-card1 {
  flex-direction: column;
  border-width: 3px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  background-color: blue;
}
.container-card2 {
  flex-direction: column;
  border-width: 3px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  background-color: cadetblue;
}
.container-card3 {
  flex-direction: column;
  border-width: 3px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  background-color: crimson;
}

/* .arrowLeft {
  background-color: crimson;
} */

.arrowLeft {
	box-shadow:inset 0px 1px 10px -3px #000000;
	background-color:transparent;
	border-radius:27px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	padding:32px 6px;
	text-decoration:none;
	text-shadow:0px 5px 0px #2f6627;
}
.arrowLeft:hover {
	background-color:transparent;
  color:#777777;
}
.arrowLeft:active {
	position:relative;
	top:1px;
  background-color:#b1cfff;
}

.arrowRight {
	box-shadow:inset 0px 1px 10px -3px #000000;
	background-color:transparent;
	border-radius:27px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	padding:32px 6px;
	text-decoration:none;
	text-shadow:0px 5px 0px #2f6627;
}
.arrowRight:hover {
	background-color:transparent;
  color:#777777;
}
.arrowRight:active {
	position:relative;
	top:1px;
  background-color:#b1cfff;
}