button {
  border-radius: 0;
  border: 1px solid black;
  font-size: 15px;
  padding: 10px 20px;
  margin: 10px;
  background-color: white
}

.sortingButton {
  text-decoration: underline;
}

.sortingButton:hover {
  text-decoration: underline;
  background-color: lightgray
}
