.answerBody {
  padding-left: 5px;
}

.answerText {
  font-size: 14px;
  font-weight: 300;
  color: rgb(66, 66, 66);
}

.user {
  font-size: 12px;
  font-weight: 300;
  color: gray;
}

.userSeller {
  font-size: 12px;
  font-weight: 600;
  color: gray;
}

.userDate{
  border-right: 1px solid gray;
  padding-right: 10px;
  font-size: 12px;
  font-weight: 300;
  color: gray;
}

.answer .helpful {
  padding-left: 10px;
  border-right: 1px solid gray;
  padding-right: 10px;
  font-size: 10px;
  font-weight: 100;
  color: rgb(92, 92, 92);
}

.answer .yes {
  text-decoration: underline;
  cursor: pointer;
}

.answer .report {
  padding-left: 10px;
  font-size: 10px;
  font-weight: 100;
  color: rgb(92, 92, 92);
  text-decoration: underline;
  cursor: pointer;
}

.loadMore {
  font-size: 9px;
  padding-left: 5px;
  padding-top: 5px;
  cursor: pointer;
}

.individualAns {
  display: flex;
  align-items: baseline;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
}

.question * {
  transition: all 0.5s ease;
}

.qRadio {
  display: none;
}

.qContainer {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.qContainer:hover {
  border-color: rgb(0, 175, 157);
}

.qRadio:checked + .qBody .individualAns {
  min-height: min-content;
  max-height: 150px;
  overflow-y: auto;
}