.oneQ {
  padding-bottom: 5px;
}

.wholeQuestion {
  font-weight: 900;
  max-height: 50vh;
  overflow-y: auto;
}

.question {
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.question .qContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.question .helpContainer {
  position: absolute;
  right: 1%;
}

.questionBody {
  padding-left: 5px;
  width: 50%;
}

.question .helpful {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid gray;
  font-size: 10px;
  font-weight: 100;
  color: rgb(92, 92, 92);
}

.question .yes {
  text-decoration: underline;
  cursor: pointer;
}

.question .addAnswer {
  padding-left: 10px;
  font-size: 10px;
  font-weight: 100;
  color: rgb(92, 92, 92);
  text-decoration: underline;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.modal {
  font-size: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  background-color: whitesmoke;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal .title {
  padding-bottom: 10px;
  color: black;
}

.modal .subtitle {
  font-size: 12px;
  font-weight: 300;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  color: black;
}

.form textarea,
.form .username,
.form .email {
  width: 100%;
  font-size: 10px;
}

.form .submit {
  size: 5%;
}

.error {
  color: red;
  font-size: 9px;
  font-weight: lighter;
}

.asterisk {
  font-weight: 100;
  font-size: 10px;
}

.qShowMore {
  font-weight: 600;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
}